<!-- # <% provide(:title, 'Help') %>
     <h1>Help</h1>
     <p>
       Get help on the Ruby on Rails Tutorial at the
       <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
       To get help on this sample app, see the
       <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
     </p> -->

    <div id="container">
      <h1>List of users</h1>
<!--       <form id="new_user">
        <input type="text" name="user[name]" id="user_name">
        <input type="submit" value="Add">
      </form> -->
      <ul id="users"></ul>
    </div>

    <script type="text/javascript" charset="utf-8">
      $(function() {
        function addUser(user) {
          $('#users').append('<li>' + user.name + '</ul>');
        }

        $('#new_user').submit(function(e) {
          $.post('https://tims-training-wheels.herokuapp.com/users', $(this).serialize(), addUser);
          this.reset();
          e.preventDefault();
        });

        $.getJSON('https://tims-training-wheels.herokuapp.com/users', function(users) {
          $.each(users, function() { addUser(this); });
        });
      });
    </script>
